@charset "UTF-8";
body,div,ul,ol,li,form,fieldset,legend,textarea,p,th,td,input,select,button{
   margin:0;padding:0
   }

fieldset,img{
   border:0px
   }

ul,ol,li{
   list-style:none
   }
   
body,th,td,input,select,textarea,button{
   font-size:13px;line-height:1.5;font-family:'맑은 고딕',dotum,'돋움',sans-serif;color:#3F3F3F;
   }
   
a{
   color:#3F3F3F;text-decoration:none
   }
   
a:hover{
   color:#128EFD;text-decoration:underline
   }

.inputBox{
   border:1px solid #EDEDED; background-color:#FFFFFF; height:20px;
   }
   
.btn{
   border:1px solid #EDEDED; 
   background-color:#FFFFFF; 
   color:#1C1C1C; 
   height:22px; 
   padding-left:3px; 
   padding-right:3px;
   cursor: pointer;
   }