<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet_prj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>day0225.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>day0225.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lifecycle</display-name>
    <servlet-name>lifecycle</servlet-name>
    <servlet-class>day0226.lifecycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lifecycle</servlet-name>
    <url-pattern>/lifecycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycle</display-name>
    <servlet-name>LifeCycle</servlet-name>
    <servlet-class>day0226.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle</servlet-name>
    <url-pattern>/LifeCycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test_call</display-name>
    <servlet-name>test_call</servlet-name>
    <servlet-class>day0226.TestCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test_call</servlet-name>
    <url-pattern>/test_call</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>use_request</display-name>
    <servlet-name>use_request</servlet-name>
    <servlet-class>day0227.UseHttpServletRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>use_request</servlet-name>
    <url-pattern>/test/use_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>param_value</display-name>
    <servlet-name>param_value</servlet-name>
    <servlet-class>day0227.UseWebParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>param_value</servlet-name>
    <url-pattern>/param_value</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>parameter_values</display-name>
    <servlet-name>parameter_values</servlet-name>
    <servlet-class>day0228.UseWebParameterValues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>parameter_values</servlet-name>
    <url-pattern>/parameter_values</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test_redirect</servlet-name>
    <servlet-class>day0228.UseTestRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test_redirect</servlet-name>
    <url-pattern>/test_redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forward_a</display-name>
    <servlet-name>forward_a</servlet-name>
    <servlet-class>day0228.ForwardA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forward_a</servlet-name>
    <url-pattern>/forward_a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forward_b</display-name>
    <servlet-name>forward_b</servlet-name>
    <servlet-class>day0228.ForwardB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forward_b</servlet-name>
    <url-pattern>/forward_b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>why_session_b</display-name>
    <servlet-name>why_session_b</servlet-name>
    <servlet-class>day0228.WhySessionB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>why_session_b</servlet-name>
    <url-pattern>/why_session_b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>why_session_c</display-name>
    <servlet-name>why_session_c</servlet-name>
    <servlet-class>day0228.WhySessionC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>why_session_c</servlet-name>
    <url-pattern>/why_session_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>use_session_a</display-name>
    <servlet-name>use_session_a</servlet-name>
    <servlet-class>day0304.UseSessionA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>use_session_a</servlet-name>
    <url-pattern>/use_session_a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>use_session_b</display-name>
    <servlet-name>use_session_b</servlet-name>
    <servlet-class>day0304.UseSessionB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>use_session_b</servlet-name>
    <url-pattern>/use_session_b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>use_session_c</display-name>
    <servlet-name>use_session_c</servlet-name>
    <servlet-class>day0304.UseSessionC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>use_session_c</servlet-name>
    <url-pattern>/use_session_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>get_cookie</display-name>
    <servlet-name>get_cookie</servlet-name>
    <servlet-class>day0304.GetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get_cookie</servlet-name>
    <url-pattern>/get_cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_cookie</display-name>
    <servlet-name>add_cookie</servlet-name>
    <servlet-class>day0304.AddCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_cookie</servlet-name>
    <url-pattern>/add_cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>remove_cookie</display-name>
    <servlet-name>remove_cookie</servlet-name>
    <servlet-class>day0304.RemoveCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remove_cookie</servlet-name>
    <url-pattern>/remove_cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>popupbody</display-name>
    <servlet-name>popupbody</servlet-name>
    <servlet-class>day0305.PopupBody</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>popupbody</servlet-name>
    <url-pattern>/popup_cookie.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>popup_close</display-name>
    <servlet-name>popup_close</servlet-name>
    <servlet-class>day0305.PopupClose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>popup_close</servlet-name>
    <url-pattern>/popup_close.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>use_init_parameter</display-name>
    <servlet-name>use_init_parameter</servlet-name>
    <servlet-class>day0305.UseInitParameter</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>김정윤</param-value>
    </init-param>
    <init-param>
      <param-name>addr</param-name>
      <param-value>서울시 강남구 역삼동</param-value>
    </init-param>
    <init-param>
      <param-name>birth</param-name>
      <param-value>1989</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>use_init_parameter</servlet-name>
    <url-pattern>/use_init_parameter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>use_dd_param</display-name>
    <servlet-name>use_dd_param</servlet-name>
    <servlet-class>day0305.UseDDParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>use_dd_param</servlet-name>
    <url-pattern>/use_dd_param</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>name</param-name>
    <param-value>이재찬</param-value>
  </context-param>
  <context-param>
    <param-name>addr</param-name>
    <param-value>인천시 소래포구</param-value>
  </context-param>
  <context-param>
    <param-name>addr</param-name>
    <param-value>인천시 소래포구</param-value>
  </context-param>
  <context-param>
    <param-name>birth</param-name>
    <param-value>1990</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>use_context_param</display-name>
    <servlet-name>use_context_param</servlet-name>
    <servlet-class>day0305.UseContextParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>use_context_param</servlet-name>
    <url-pattern>/use_context_param</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Oracle Datasource example</description>
    <res-ref-name>jdbc/dbcp</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>use_dbcp</display-name>
    <servlet-name>use_dbcp</servlet-name>
    <servlet-class>day0306.UseDBCP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>use_dbcp</servlet-name>
    <url-pattern>/use_dbcp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>select_emp</display-name>
    <servlet-name>select_emp</servlet-name>
    <servlet-class>day0306.SelectEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>select_emp</servlet-name>
    <url-pattern>/select_emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>web_member_join</description>
    <display-name>web_member_join</display-name>
    <servlet-name>web_member_join</servlet-name>
    <servlet-class>kr.co.sist.user.WebMemberJoin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web_member_join</servlet-name>
    <url-pattern>/web_member_join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>id_dup</display-name>
    <servlet-name>id_dup</servlet-name>
    <servlet-class>kr.co.sist.user.IdDuplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>id_dup</servlet-name>
    <url-pattern>/id_dup</url-pattern>
  </servlet-mapping>
</web-app>